In [30]:
# Print the welcome message hello world 

print("Hello world")

Hello world

In [31]:
# Assign variables 

a=5000
print(a)

5000

In [32]:
print("hello")

hello

In [33]:
# Assigning variables 
test_variable_a =14
test_variable_b =16
test_variable_c =test_variable_a + test_variable_b
print(test_variable_a + test_variable_c)

44

In [35]:
# Checking the types of variable 
type(test_variable_c)
type(test_variable_b)
type(test_variable_a)

int

In [36]:
# Change the type of variable from interger to float 
test_variable_c=float(test_variable_c)
type(test_variable_c)

float

In [37]:
# Dividing integers to see the results ]
a=10
b=3 
c=a/b
print(c)
type(a)

3.3333333333333335

int

In [19]:
# writing names in Python and the use of spaces
first_name="Shawn"
last_name= "O'neil"
full_name= first_name + " " + last_name    # introduce " " between names to get the required space
print(full_name)

Shawn O'neil

In [44]:
# Check integers and float data types
theta=5.64
exons=10
print(theta)
print(exons)
type(theta)
type(exons)

5.64
10

int

In [45]:
# Conversion from integers to float
exons_as_float=float(exons)
type(exons_as_float)

float

In [54]:
# Checking reminders using the % 
answer_2=a%b
print(answer_2)

1

In [55]:
# Using exponential values
answer_3 = a**b
print(answer_3)

1000

In [56]:
# using Boolean operators 
1==2

False

In [57]:
2>3

False

In [58]:
4>2

True

In [66]:
# Use of strings # Use + symbol to concatanate two strings
First="Sebastian"
Second="Musundi"
Third="Dibondo"

print(First + " " + Second )

Sebastian Musundi

In [67]:
type(Third)

str

In [76]:
# Printing my name in python 
print("My name is" " " +  First + " " + Third + " " + Second  )

My name is Sebastian Dibondo Musundi

In [89]:
# concanate different data types ( strings and int) 
height=5.7

print("My name is" " " +  First + " " + Third + "and my height is" " " + str(height))

My name is Sebastian Dibondoand my height is 5.7

In [90]:
# Indexing variables in python 

seq="ATCGACTG"

seq_1=seq[1:4]
print(seq_1)

TCG

In [91]:
# Getting the length of a string 
len(seq_1)

3

In [100]:
# Calculate GC content in a string 
sequence="ATCGGATCATGCAAATTGACGAC"

# calculate the overall length of the sequence 
seq_length=len(sequence)
print(seq_length)

# get the last letter of the sequence 
last_letter = sequence[seq_length -1]
print(last_letter)

# Extract substring from position 2 till end of the string 
sequence[2:seq_length]

23
C

'CGGATCATGCAAATTGACGAC'

In [104]:
# immutability in python for computational effiency not same as R 
# For example in R we could replace the second letter.

seqa="ACTAG"
seqb="GTAACTC"

seqc=seqa + seqb 

print(seqc)

seqd=seqc[3:9]

print(seqd)

ACTAGGTAACTC
AGGTAA

In [105]:
# Exercise 1 on elementary data types 
#1.
x=12
y=13.5

z=x/y
type(z)

float

In [106]:
# convert z to integer
z_int=int(z)
print(z_int)

0

In [107]:
x_string= str(x)
print(x_string)

12

In [108]:
type(x_string)

str

In [110]:
# convert string to boolean 
x_bool=bool(x_string)
print(x_bool)

True

In [111]:
# convert int to boolean 
x_bo = bool(z_int)
print(x_bo)

# Conclusion we can convert a string variable to boolean but not a an integer to boolean

False

In [117]:
# Question 2
# Write my name and weight by combining strings 
full_name="Sebastian Musundi"
weight=65
print("My full name is" " " + full_name + " " + " and I weigh " + str(weight)+ "kg")

My full name is Sebastian Musundi  and I weigh 65kg

In [119]:
# what happens when i replace the + sign with * 
print("My full name is" " " * full_name * " " * " and I weigh " * weight * "kg")

TypeError: can't multiply sequence by non-int of type 'str'

In [121]:
# what happens when you use for floats in indexing 
sequence_2="GTACATGTTGC"
sequence_2[-2]

'G'

In [136]:
# Question 4 
seq_example="ACTAGATGA"
print(len(seq_example))

first_half=seq_example[0:4]
second_half=seq_example[4:9]

print(first_half)
print(second_half)

9
ACTA
GATGA

In [152]:
# Determine the GC content preseent in the sequence below
sequence_example="GCTAGCTACCCACCAAAGGTACCAGTAC"

# Determine length of sequence 
seq_len=len(sequence_example)

# Determine number of G's and C's
gc_count=sequence_example.count('G') + sequence_example.count('C')


# Calculate the GC percentage 
gc_percent=((gc_count)/seq_len) * 100

# Calculate AT percentage
at_percent=100 - gc_percent

# Round the GC and AT percentage 
print(round(gc_percent,2))
print(round(at_percent,2))

53.57
46.43

In [2]:
# Determine the GC content preseent in the sequence below
sequence_example="GCTAGCTACCCACCAAAGGTACCAGTAC"

# Reverse a given DNA sequence 
sequence_rev=sequence_example[::-1]

# print the reversed sequence
print(sequence_rev)

CATGACCATGGAAACCACCCATCGATCG

In [3]:
# Replace T with U in the provided sequence below
sequence_example="GCTAGCTACCCACCAAAGGTACCAGTAC"

# Replace T with U 
seq_replace=sequence_example.replace("T", "U")

# print the replaced sequence
print(seq_replace)

GCUAGCUACCCACCAAAGGUACCAGUAC

In [5]:
#  Create a reverse complement sequence 

# Replace T with U in the provided sequence below
sequence_example="GCTAGCTACCCACCAAAGGTACCAGTAC"

# Reverse the sequence 
reverse_sequence=sequence_example[::-1]

# replace G's with C's and T's with A's and vice versa 
reverse_complement=reverse_sequence.replace("A", "t").replace("T", "a").replace("G", "c").replace("C", "g")
    
# Change the letters to upper case
reverse_complement=reverse_complement.upper()

# print reverse complement
print(reverse_complement)

GTACTGGTACCTTTGGTGGGTAGCTAGC

In [6]:
# count the number of NANP repeats present in a sequence
seq_NANP="NANPNVDPNANPNVDPNANPNVDPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNVDPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANP"

# Check the sequence length
NANP_len=len(seq_NANP)

# Count the number of NANP repeats 
NANP_count=seq_NANP.count("NANP")

# print number of NANP repeats
print(NANP_count)

38

In [8]:
# Calculate the percentage of amino acid Alanine in a protein sequence 
seq_NANP="NANPNVDPNANPNVDPNANPNVDPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNVDPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANPNANP"

# Calculate total length of sequence
NANP_len=len(seq_NANP)

# Count the number of Alanines present in the sample 
Alanine_count=seq_NANP.count("A")

#  Percentage of Alanine 
percent_alanine=(Alanine_count/NANP_len) * 100

# Print the percentage of alanine 
print(round(percent_alanine,2))

22.62